pipeline/FileNameFetch.json
{
	"name": "FileNameFetch",
	"properties": {
		"activities": [
			{
				"name": "FileNameFetch",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceFolderName",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FileNameIteration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FileNameFetch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FileNameFetch').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyFile",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "FieNameSourceFetch",
									"type": "DatasetReference",
									"parameters": {
										"FileNames": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OutPutFOlderPath",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Variables",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FileNameIteration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@activity('FileNameFetch').output.name",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileNameParameters": {
				"type": "string"
			}
		},
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}