pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "FileNameTraverse",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FileNameTraverse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FileNameTraverse').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "QUERYDEFINITION_KEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "QUERYDEFINITION_KEY",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "FILE_PROCESSED_TIME_KEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "FILE_PROCESSED_TIME_KEY",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "QUERYNAME",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "QUERYIDQUERYNAME",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "QUERYIDENTITY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "QUERYIDENTITY",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "QUERYVERSION",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "QUERYVERSION",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "LOWTHRESHOLD",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LOWTHRESHOLD",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "MEDIUMTHRESHOLD",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MEDIUMTHRESHOLD",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "HIGHTHRESHOLD",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "HIGHTHRESHOLD",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CUSTOMTHRESHOLD",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CUSTOMTHRESHOLD",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "LANGUAGEPACK",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LANGUAGEPACK",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "SRC_FILE_NAME",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SRC_FILE_NAME",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CREATE_DT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CREATE_DT",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "LAST_UPDATE_DT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LAST_UPDATE_DT",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "MEDIATYPE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MEDIATYPEISLIVE",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_blob",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azuresql",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"Table": "Functioning"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_blob",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-04-13T15:33:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}